/* Global Styles */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: rgba(18, 129, 178, 0.8);
}

/* Navigation styling */
.navigation{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
  background: burlywood;
}
.logo img{
  /* font-size: 1.5rem; */
  width: 8rem;
}
.navigation .navul{
  display: none;
  flex-direction: column;
  width: 100%;
  background: #fefefe;
  position: relative;
  transform: translate(0%, 0%);
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  align-items: stretch;
}
.navigation .navul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0;
  margin: 0 auto;
  /* margin-top: 1rem; */
  justify-content: center;
  width: 60%;
}
.navigation .navul li a{
  color: #000;
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation .navul li:hover{
  background: #efefef;
}
.navigation .navul li.show{
  display: flex;
}
.hamburger{
  display: block;
  border: none;
  width: 30px;
  background: transparent;
  color: #000;
  font-size: 25px;
  cursor: pointer;
  /* margin-right: 0.3rem; */
}
hamburger:focus{
  outline: none;
}